<!DOCTYPE html>
<html lang="en">
<head>
{% include 'bootstrap.html' %}
    <title>Bonaventure Careers</title>

</head>
<body>
{% include 'nav.html' %}

{% include 'banner.html' %}
<div class="container">
    <h1 class="text-center mt-2 mb-4">Bonaventure Careers</h1>

<div class ="row" style="margin-bottom:16px;">
    <div class="col-md-6">
<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Obcaecati harum dolorum, repellendus nisi esse aliquid ex earum animi velit fugiat explicabo sequi
    illum fuga reprehenderit autem officia nam tempore amet.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Obcaecati harum dolorum, repellendus nisi esse aliquid ex earum animi velit fugiat explicabo sequi
    illum fuga reprehenderit autem officia nam tempore amet.
</p>
    </div>
    <div class="d-none d-md-block  col-6">
    <img src="/static/people.jpg" style="height:320px; border-radius:4px;"/>
        </div>
    </div>
<h2 class="text-center mt-2 mb-4">Open Positions</h2>
<div>
    {% for job in jobs %}
    {% include 'job.html' %}
    {% endfor %}

</div>

</div>

    <div class="text-center">

        <a href="mailto:kakieosita@gmail.com?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Center%20your%20name%20here%3E%0D%0AMy%20Questions%3A%20%3Center%20your%20question%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>

        </div>
    </div>
{% include 'footer.html' %}
</body>

</html>





<!--        h1 {-->
<!--        font-size: 40px;-->
<!--        font-family: Roboto;-->
<!--        font-weight: normal;-->
<!--        color: rgb(100, 100, 100);-->
<!--        text-align: center;-->
<!--         }-->

<!--        #banner{-->
<!--        height: 360px;-->
<!--        width: 100%;-->
<!--        object-fit: cover;-->
<!--        }-->

<!--        h2{-->
<!--        font-family: Roboto;-->
<!--        font-size: 32px;-->
<!--        color: rgb(100, 100, 100);-->
<!--        text-align: center;-->
<!--        }-->

<!--        p{-->
<!--        font-family: Roboto;-->
<!--        color: rgb(80, 80, 80);-->
<!--        }-->

<!--        #container{-->
<!--        max-width: 720px;-->
<!--        margin: 0 auto 0 auto;-->
<!--        }-->

<!--        .bodytext{-->
<!--        font-family: Roboto;-->
<!--        color: rgb(80, 80, 80);-->
<!--        }-->
